*                   text=auto

*.md                diff=markdown
*.php               diff=php
tests               export-ignore
.github             export-ignore
phpunit.xml         export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
readme.md           export-ignore
LICENSE             export-ignore
docs                export-ignore
infection.json.dist export-ignore
CHANGELOG.MD        export-ignore
