{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "tests\/reports\/infection\/infection.log",
        "summary": "tests\/reports\/infection\/summary.log",
        "perMutator": "tests\/reports\/infection\/per-mutator.md"
    },
    "testFramework":"phpunit",
    "mutators": {
        "@default": true
    }
}